<div class="row">
  <div class="card col-3 m-3" *ngFor="let person of persona">
    <img src="/assets/img/no-image.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ person.name }}</h5>
      <h6 class="card-subtitle">{{ person.title }}</h6>
      <p class="card-text">{{ person.bio }}</p>
      <div class="card-footer">
        <button (click)="eliminar(person)" class="btn btn-danger float-end">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
